{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'frontend/style.css' %}">

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ramen Log</title>
</head>

<body>
    {% if user.is_authenticated %}
        <a href="{% url "users:logout" %}">Logout</a>
        <div id="app">
            <!-- React will load here -->
        </div>
    {% else %}
        <a href="{% url "users:login" %}">Login</a>
        <a href="{% url "users:register" %}">Register</a>
    {% endif %}
    <script>
        window.django = {
            user: {
                id: "{{ request.user.id }}"
            }
        };
    </script>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>

</html>